<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>liu weilong</title>
</head>
<body>
    <h1>liu weilong's first web</h1>
    <div>practice render_template </div>
    <h2>render_template</h2>
    <span>practice render_template </span> <span> something else </span>
    <h2>jumping </h2>
    <a href="https://www.bing.com"> jump to bing</a>
    <a href="/next_one"> jump to next one </a>
    <h2>image </h2>
    <img style="height:200px;" src="/static/body.jpg" />
    <ul>
        
    </ul>
</body>
</html>