<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>帐号登录</title>
</head>
<body>
    <h1>
        帐号登录
    </h1>
    <form method="post" action="/info" target="_self">
        <div>
            <span>帐号:</span> 
            <input type="text" name="id">
        </div>
        <div>
            <span>密码:</span> 
            <input type="password" name="password">
        </div>
        <br>
        <input type="submit" name="sign_in" value="登录">
        <input type="submit" name="sign_up" value="注册">
    </form>
</body>
</html>