<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>帐号登录</title>
</head>
<body>
    <h1>
        帐号登录
    </h1>
    <p id="demo"> </p>

    <script> 
        // C++ 版的python语法
        function wrapper(a)
        {
            function inner(b)
            {
                return a+b;
            }
            return inner;
        }
        var add_with_constant = wrapper(10);
        var result = add_with_constant(15);
        var object=[1,2,3,4];
        document.getElementById("demo").innerHTML = 'something';
    </script>
</body>
</html>